<configuration scan="true" scanPeriod="60 seconds">
	<appender name="DAILYFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>incomb.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>incomb.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 10 days' worth of history -->
			<maxHistory>10</maxHistory>
		</rollingPolicy>

		<encoder>
			<!-- following conversion words are NOT cheap : L M C F -->
			<pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %5p %logger{10} - %m%n
			</pattern>
		</encoder>
	</appender>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.jooq" level="warn" />
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>